html{
  scroll-behavior: smooth;
}
body{
  padding: 0px;
  border: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
  color: white;
}
#pin{
left: 2px;
top: 44.5px;
width: 100px;
height: 1px;
background-color: #1b71e3;
z-index: 999;
}

.header {
  z-index: 9999;
  position: fixed;
  padding-top: 10px;
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  background-color: #858a8428;
  
}
#logo{
  margin-left:30px;
  font-family: 'Graduate';
  font-size: 35px;
  line-height: 1.4;
  font-style: normal;
  text-align: center;
  margin-right: auto;
}

 /* --------------------- menu (nav) ----------------------*/
/*
 .header {width: 96%; height: 90px;z-index: 5000; opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; left: 2%; top: 25px;
  border: 1px solid #2e2e2e;
  backdrop-filter: blur(5px);
  animation: header 1.5s ease-in-out forwards;
  animation-delay: 2s;
}
#logo {width: 65px; height: 65px; padding: 7px; margin: 12px; display: inline-block;
  font-size: 30px; line-height: 1.4; font-style: normal; text-align: center; color: #fff;
  font-family: 'Graduate';
  border: 5px solid #fff;
  border-radius: 50%;
  opacity: 0;
  animation: logo 2s forwards;
  animation-delay: 6.2s;
} 

.header.active #logo span {color: #000; border: 5px solid #000}
.header.active .nav li a {color: #000}
.header.active .nav li a span {color: #999}
.header.active .ham span {background: #000}
*/


#nav {
  margin-right: 4vw; 
  font-family: 'Poppins';
}

.nav li {display: inline-block; overflow: hidden; position: relative}
.nav li + li {margin-left: 3vw}
.nav li a {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.nav li a span {display: block;
    font-size: 14px; font-weight: 200; line-height: 1; color: #e9e9e9;
}
.nav li a::after {content: ""; width: 0; height: 2px; display: block;
    background-color: skyblue;
    transition: width .5s;
}
.nav li:hover a{color: skyblue}
.nav li:hover a::after{width: 100%}



/* 서브   제목 */
.sub_menu{
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(17, 13, 13, 0.377);
  width: 300px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 8px;
  color: black;
  font-family: 'Black Han Sans', sans-serif;
}

#top{
  /*background-image:url("/img/about.jpg"); */
  background-color: #171717;
  height: 1000px;
  background-size: contain;
}

.header{
  color: white;
}



#about_under{
  text-align: center;
}

#about_under_name{
  width: 30%;
  float: left;
}

#about_under_email{
  width: 30%;
  float: left;
}
#about_under_certificate{
  
}

#about_under h3{  /* 이름, 생년월일, 주소지, 연락처, 이메일, 학력 글자--> */
  font-size: 25px;
  display: inline-block;
}
#about_under i{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.801);
  display: inline-block;
  margin-right: 20px;
}
#about_under span{
  display: inline-block;
  margin: auto;
  position: relative;
  bottom: 10px;
  left: 20px;
}
#about_under span:nth-child(3){
  position: relative;
  left:50px !important;
}

/*-------------------------------*/

/* skills 부분 */
#skills{
  background-color: #FAFAFA;
  height: 500px;
}



/* Archiving 부분*/
#archiving{
  background-color: white;
  height: 500px;
}

/* projects 부분 */
#projects{
  background-color: #FAFAFA;
}

.projects_sub_menu{
  background-color: #E5F0FF;
  width: 1050px;
  height: 800px;
  margin: auto;
}

.projects_title{
  padding-top: 50px;
  color: black;
  text-align: center;
  font-size: 25px;
}

#archiving_container{
  display: flex;
}

#archiving_github{
  background-color: rgb(71, 65, 165);
  border-radius: 20px;
  width: 430px;
  height: 300px;
  float: left;
  margin: auto;
  box-sizing: border-box;
  display: block;

}

#archiving_blog{
  background-color: white;
  border-radius: 20px;
  width: 430px;
  height: 300px;
  float: left;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  display: block;
  margin-left:30px
}

.archiving_img{
  padding-top: 20px;
  padding-left: 15px;
}


/* footer */
#footer{
  height: 180px;
  background-color: #222222;
}
#icon{
  font-size: 30px;
  color: white;  
  display: inline-block;
  padding-left: 45%;
  padding-top: 40px;
}
#icon i{
  border: 5px solid white;
  border-radius: 50%; 
}

