body{
  padding: 0px;
  border: 0px;
  margin: 0px;
}



.sub_menu{
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(17, 13, 13, 0.377);
  width: 300px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 8px;
  color: black;
  font-family: 'Black Han Sans', sans-serif;
}

#top{
  background-image:url("./img/about.jpg");
  width: 100%px;
  height: 700px;
}

.header{
  color: white;
}

#header_left{
  font-size: 35px;
  padding-top: 10px;
  padding-left: 45%;
  margin: auto;
}
#header_right div{
  float: right;
  padding-right: 40px;
}
#top h1{
  color : white;
  font-size: 50px;
  text-align:center;
  border: 1px solid black;
  margin-top: 80px;
}

#about_under{
  text-align: center;
}

#about_under_name{
  width: 30%;
  float: left;
}

#about_under_email{
  width: 30%;
  float: left;
}
#about_under_certificate{
  
}

#about_under h3{  /* 이름, 생년월일, 주소지, 연락처, 이메일, 학력 글자--> */
  font-size: 25px;
  display: inline-block;
}
#about_under i{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.801);
  display: inline-block;
  margin-right: 20px;
}
#about_under span{
  display: inline-block;
  margin: auto;
  position: relative;
  bottom: 10px;
  left: 20px;
}
#about_under span:nth-child(3){
  position: relative;
  left:50px !important;
}

/*-------------------------------*/

/* skills 부분 */
#skills{
  background-color: #FAFAFA;
  height: 500px;
}



/* Archiving 부분*/
#archiving{
  background-color: white;
  height: 500px;
}

/* projects 부분 */
#projects{
  background-color: #FAFAFA;
}

.projects_sub_menu{
  background-color: #E5F0FF;
  width: 1050px;
  height: 800px;
  margin: auto;
}

.projects_title{
  padding-top: 50px;
  color: black;
  text-align: center;
  font-size: 25px;
}

#archiving_container{
  display: flex;
}

#archiving_github{
  background-color: rgb(71, 65, 165);
  border-radius: 20px;
  width: 430px;
  height: 300px;
  float: left;
  margin: auto;
  box-sizing: border-box;
  display: block;

}

#archiving_blog{
  background-color: white;
  border-radius: 20px;
  width: 430px;
  height: 300px;
  float: left;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  display: block;
  margin-left:30px
}

.archiving_img{
  padding-top: 20px;
  padding-left: 15px;
}


/* footer */
#footer{
  height: 180px;
  background-color: #222222;
}
#icon{
  font-size: 30px;
  color: white;  
  display: inline-block;
  padding-left: 45%;
  padding-top: 40px;
}
#icon i{
  border: 5px solid white;
  border-radius: 50%; 
}

