@keyframes motion {
	0% {margin-top: 18px;} /* 처음 위치 */
	100% {margin-top: 23px;} /* 마지막 위치 */
}
html{
  scroll-behavior: smooth;
}
body{
  padding: 0px;
  border: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
  color: white;
}


/* 서브   제목 */
.sub_menu{
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(17, 13, 13, 0.377);
  width: 300px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 8px;
  color: black;
  font-family: 'Black Han Sans', sans-serif;
}
#top{
  /*background-image:url("/img/about.jpg"); */
  background-color: #171717;
  height: 1000px;
}
#pin{
  left: 2px;
  top: 44.5px;
  width: 100px;
  height: 1px;
  background-color: #1b71e3;
  z-index: 999;
}
.header {
  z-index: 9999;
  position: fixed;
  padding-top: 10px;
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  background-color: #858a8428;
}

/* 로고 ! */
#logo{
  margin-left:30px;
  font-family: 'Graduate';
  font-size: 35px;
  line-height: 1.4;
  font-style: normal;
  text-align: center;
  margin-right: auto;
}


/* 소개글 */
#intro{
  padding-left: 250px;
  padding-top: 150px;
  color: white;
  float: left;
}
#intro h2{
  font-size: 4rem;
  font-family: 'Poppins';
}
#intro span{  
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 20px;
}

/* 내 사진 */
#top img{
    width: 300px;
    float:left;
    border-radius: 50%;
    margin-left: 200px;
    margin-top:200px;    
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

/* 사진 마우스 오버시 트랜스폼  */
#top img:hover{
  transform: scale(1.3);
  border-radius: 10%;
}


/* 메뉴 */
#nav {
  margin-right: 4vw; 
  font-family: 'Poppins';
}

.nav li {
  display: inline-block;
  overflow: hidden; 
  position: relative}

.nav li + li {
  margin-left: 3vw
}

.nav li a {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.nav li a span {
  display: block;
  font-size: 14px; 
  font-weight: 200; 
  line-height: 1; 
  color: #e9e9e9;
}
.nav li a::after {
  content: ""; 
  width: 0; 
  height: 2px; 
  display: block;
  background-color: gray;
  transition: width .5s;
}

.nav li:hover a{color: gray}
.nav li:hover a::after{width: 100%}


#menu-list{
  color: white;
  font-size: 2em;
  display: none;
}

/* about me 부분 */

#about{
  height: 500px;
}
#about_container{
  margin-top: 50px;
  display: flex;
}
#about_container_name {
  flex:1;
  width:30%;
  box-sizing: border-box;
  text-align: center;
}
#about_container_email{
  flex:1;
  margin: 0px 5%;
  width:30%;
  box-sizing: border-box;
  text-align: center;
}

#about_container_certificate{
  flex:1;
  width:30%;
  box-sizing: border-box;
  text-align: center;
}

.icon img{
  width: 40px;
  overflow: hidden;
}
.icon p{
  border: 1px solid gray;
  display:inline-block;
  border-radius: 50%;
  padding: 10px;    
}

@media screen and (min-width:900px){
.icon p:hover{
  border:1px solid black;
  transition: .1s ease-in-out;
  animation: motion 0.3s /* 속도 */
  linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
  infinite alternate; /* 무한 반복 */
}
}
#about h3{
  font-size: 20px;
  font-family: 'janlan';
  font-weight: bold;
}

#about_container span{
  line-height: 28px;
  font-family: 'Gothic A1';
  font-weight: 400;
}

#about_container li{
  list-style: none;
}

#about_container li::before{
  content: "✔";
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}


/*-------------------------------*/

/* skills 부분 */
#skills{
  background-color: #FAFAFA;
  height: 600px;
}

#skill_main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#skill_main img{
  border-radius: 10px;
}

#skill_main img:hover{
  cursor: pointer;
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}

#skill_main img:nth-child(2) {
  margin-right: 50px;
}


/* store 부분*/
#store{
  background-color: #E9E9E9;
  height: 600px;
}

#store_container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

#store_github{
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  margin-right: 150px;
}

#store_blog{
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  height: 300px;
}

.store_img{
  padding:15px 0px 25px 20px ; /* 상우하좌 순서 (시계방항) */
}

.store_text b{
  font-family:'Janlan';
  font-size: 20px;
  padding-left: 50px;
}

.store_text li{
  list-style: none;
  font-family: 'S-CoreDream-5Medium';
  font-weight: 300;
}
.store_text li::before{
  content: "✔";
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}

#store_github:hover , #store_blog:hover{
  cursor: pointer;
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}


/* projects 부분 */
#projects{
  background-color: #FAFAFA;
}

.projects_sub_menu{
  display: block;
  background-color: #E9E9E9;
  width: 950px;
  height: 680px;
  margin: auto;
  margin-bottom: 150px;
  margin-top: 80px;
  padding: 50px 50px;       /* 상우하좌 (시계방향 순서) */
}
.projects_title{
  font-family: 'Janlan';
  font-size: 30px;
  display: block;
  text-align: center;
}

.projects_sub_title{
  font-family: 'Gothic A1';
  font-size: 13px;
  color: #000000af;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.projects_content{
  display: flex;
  width: 100%;
}

.projects_image{
  box-sizing: border-box;
  margin-top: 30px;
  margin-right: 6rem;
  box-sizing: border-box;
  line-height: 130px;

}
.projects_image img{
  width: 330px;
}

.projects_main{
  box-sizing: border-box;
  margin-top: 30px; 
  padding-top: 15px;
  border-left: 1.3px solid gray;
  width: auto;
  min-width: 500px;
  height: auto;
}
.projects_main b{
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  margin-left: 30px;
  display: block;
}
.projects_main li{
  list-style:none;
  font-family: 'GowunBatang-Regular';
  line-height: 20px;
  display: block;
}
.projects_main li::before{
  content: "->";
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}

.btn_con{
  display: flex;
  justify-content: space-evenly;
}

.projects_main button{
  width: 150px;
  height: 50px;
  color: white;
  border-radius: 7px;
  background-color:#00AFFF;
  border: none;
  font-family: 'JaJSDongkang-Regularnlan';
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  display: inline-block ;
}


/* footer */
#footer{
  height: 180px;
  background-color: #222222;
}
#container{
  text-align: center;
}
#icon{
  font-size: 30px;
  color: white;  
  display: inline-block;
  margin-top: 50px;
}


#icon a:nth-child(1){
  color: #139EF8 !important;
}

#icon a:nth-child(2){
  color: #FE1A62 !important;
}

#icon a:nth-child(3){
  color: white !important;
}


#icon i{
  cursor: pointer;
  padding: 10px;
}

#copyright{
  margin-top: 23px;
  color: white;
  font-size: 15px;
  font-family: 'Gothic A1';
  font-weight: 200;
}


/* TOP 버튼 */
#scroll-to-top {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 10%;
  font-size: 20px;
  opacity: 0;
  z-index: 99;
  text-align: center;
}

#scroll-to-top span {
  cursor: pointer;
  color: #20271cbd;
}

#scroll-to-top span :hover{
  color:rgba(0, 0, 0, 0.884);
}


@media screen and (max-width:900px){
  
  .nav{
    display: none;
  }

  #menu-list{
    display: flex;
    margin-right: 30px;
  }

  /* 소개 */
  #top {
    height: 700px;
  }

  #intro{
    padding-left: 30px;
  }

  #intro h2{
    font-size: 3rem;
  }

  #intro span{
    font-size: 1rem;
  }

  #top img{
    display: none;
  }

  .sub_menu{
    font-size: 2rem;
  }

  /* about me 시작 */

  #about{
    height: 890px;
  }
  #about_container{
    flex-direction: column;

  }

  #about_container_name, #about_container_email, #about_container_certificate{ 
    display: block;
    width: 100%;
    margin: 20px auto;
  }

  #about h3{
    font-size: 1.2rem;
    margin-top: -3px;
  }

  #about span{
    font-size: 0.8rem;
    line-height: 10px;
  }

  .icon img{
    width: 30px;
  }

  /* skill 시작*/

  #skills{
    height: 1200px;
  }

  #skill_main{
    flex-direction: column;
    align-items: center;
  }

  #skill_main img{
    width: 300px;
  }

  #skill_main img:nth-child(2){
    margin: 20px auto;
  }

  #skill_main img:hover{
    cursor: auto;
    transform: scale(1.0);
  }

  /* store 시작*/
  #store{
    height: 750px;
  }

  #store_container{
    flex-direction: column;
    align-items: center;
  }

  #store_github{
    margin: 0 0 50px 0;
  }

  #store_github, #store_blog{
    width: 350px;
    height: 260px;
  }

  #store_github:hover , #store_blog:hover{
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform: scale(1.0);
  }

  .store_img img{
    width: 185px;
    height: 50px;
  }

  .store_text li{
    font-size: 0.8rem;
  }

  /* projects 시작 */
  
  .projects_sub_menu{
    width: auto;
    height: 1150px;
    margin: 30px auto;
  }

  .projects_content{
    flex-direction: column;
  }
  
  .projects_image{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    line-height: 10px;
  }

  .projects_image img{
    width: 20rem;
    height: 30rem;
  }
  
  .projects_main{
    box-sizing: border-box;
    margin-top: 30px; 
    padding-top: 15px;
    border-top: 1.3px solid gray;
    border-left: none;
    height: auto;
  }

  .projects_main b{
    font-size: 1rem;
  }

  .projects_main li{
    font-size: 0.9rem;
  }

  .projects_main button{
    width: 130px;
    height: 40px;
    color: white;
    border-radius: 7px;
    background-color:#00AFFF;
    border: none;
    font-family: 'JaJSDongkang-Regularnlan';
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    display: inline-block ;
  }

}
