@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        /* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
        /* font-family: 'Graduate', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
        /* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
        /* font-family: 'Ephesis', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
        /* font-family: 'Black Han Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
        /* font-family: 'Gothic A1', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
        /* font-family: 'Hahmlet', serif; */
@font-face {
    font-family: 'JSDongkang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}